<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= f.label :city_id %><br>
      <%= f.select :city_id, City.pluck(:name, :id), {}, class: 'form-control select' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
</div>
  <hr>
  <div class="actions">
    <%= f.submit 'Enviar noticia', class: 'btn btn-success btn-block' %>
  </div>
<% end %>
