<div class="row">
  <div class="col-md-12">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=2000x200&sensor=false&zoom=16&markers=#{@notice.latitude}%2C#{@notice.longitude}", class:"img-responsive img-thumbnail" %>
  </div>
  <div class="col-md-5">
    <%= image_tag @notice.image, class: 'img-responsive' %>
  </div>
  <div class="col-md-7">
      <h1><%= @notice.title %> <small>en <%= @notice.city.name %></small></h1>

    <p>
      <%= @notice.description %>
    </p>
  </div>
</div>
