<h1>Noticias en <%=current_user.city.name if current_user.city.present? %></h1>
<table class="table table-striped">
  <thead>
    <th>
      Ciudad
    </th>
    <th>
      Noticia
    </th>
    <th>
      Fecha
    </th>
    <th>
      Autor
    </th>
    <th>

    </th>
  </thead>
  <% @notices.each do |n| %>
    <tbody>
      <tr>
        <td>
          <%= n.city.name %>
        </td>
        <td>
          <%= n.title %>
        </td>
        <td>
          <%= n.created_at.strftime("%b %e, %l:%M %p") %>
        </td>
        <td>
          <%= n.user.try(:first_name) %> <%= n.user.try(:last_name) %>
        </td>
        <td>
          <a href="<%= notice_path(n) %>" class="btn btn-info ">Ver más</a>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<h1>Eventos</h1>
