<!DOCTYPE html>
<html>
<head>
  <title>Hackhaton</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path %>">Inicio</a></li>
          <li><a href="<%= notices_path %>">Noticias</a></li>
          <li><a href="<%= root_path %>">Eventos</a></li>
          <li><a href="<%= root_path %>">Comunidades</a></li>
          <li><a href="<%= root_path %>">Grupos</a></li>
          <li><a href="<%= root_path %>">Actividad del sitio</a></li>
        </ul>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= image_tag(current_user.avatar, class: 'img-circle img-thumbnail') %>
            Conectado como: <strong><%= current_user.first_name %></strong>. <span class="label label-info"><%= current_user.points %> puntos</span>
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Desconectar", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <% if current_user && current_user.first_name.nil? %>
          <div class="alert alert-success">
            Sabemos que aun no has rellenado tu perfil... Así que te invitamos a que lo hagas. <a href="<%= edit_user_registration_path %>" class="btn btn-success">Actualizar perfíl</a>
          </div>
        <% end %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
      <% if user_signed_in? %>
        <div class="col-md-4">
          <a href="<%= new_notice_path %>" class="btn btn-danger btn-block">Publicar noticia</a>
          <hr>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">¿Que ocurre en tu ciudad?</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Ultimos vecinos</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">¿Necesitas ayuda?</h3>
            </div>
            <div class="panel-body">
              <a href="#" class="btn btn-default btn-block">Preguntas frecuentes</a>
              <a href="#" class="btn btn-default btn-block">Sugerencias</a>
              <a href="#" class="btn btn-default btn-block">Contacto</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1023220334419345',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
